# Churn Prediction

- Data and Business Problem: Our basic aim is to predict customer churn for a certain bank i.e. which customer is going to leave this bank service. 

- Dataset is small(for learning purpose) and contains 10000 rows with 14 columns.

- Do Label Encoding for both Geography and Gender and One Hot Encoding for Geography (Categorical columns)

- Do Feature Scaling (Standard Scaling)

- Use 80 percent of the data for training and 20 percent for test

- Lets have two hidden layers with 6 neurons at each, and an output layer. Batch_size=32, epochs=10

In [ ]:
import pandas as pd
from sklearn.preprocessing import LabelEncoder, OneHotEncoder
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
import keras
from keras.models import Sequential
from keras.layers import Dense
from sklearn.metrics import confusion_matrix

df = pd.read_csv('Churn_Modelling.csv')

print(df.head())

In [ ]:
!ls

In [ ]:
%cd

In [ ]:
df['Exited'].value_counts()

In [ ]:
label_encoder_X_1 = LabelEncoder()
X[:, 1] = label_encoder_X_1.fit_transform(X[:, 1]) # changing column 2
label_encoder_X_2 = LabelEncoder()
X[:, 2] = label_encoder_X_2.fit_transform(X[:, 2]) # changing column 3
print(X[0:10,:])
print(X.shape)

In [ ]:
# Feature matrix
# We don't care about the first 3 columns (RowNumber, CustomerId, Surname),
# as those don't factor in to whether a person churns or not
X = df.iloc[:, 3:13].values

# Target column
# We want to predict the exit value,
# which therefore makes it our target column
y = df.iloc[:, 13].values

In [ ]:
# print the first 10 rows of the feature matrix
print(X[0:10,:])

### LabelEnconder has replaced France with 0, Germany with 1, and Spain with 2.

In [15]:
# pandas does the labelencoder and onehotencoder in the same step

import pandas as pd

X = df.iloc[:, 3:13]
y = df.iloc[:, 13]
pd.get_dummies(X).head(10)

,CreditScore,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Geography_France,Geography_Germany,Geography_Spain
0,619,0,42,2,0.00,1,1,1,101348.88,1,0,0
1,608,0,41,1,83807.86,1,0,1,112542.58,0,0,1
2,502,0,42,8,159660.80,3,1,0,113931.57,1,0,0
3,699,0,39,1,0.00,2,0,0,93826.63,1,0,0
4,850,0,43,2,125510.82,1,1,1,79084.10,0,0,1
5,645,1,44,8,113755.78,2,1,0,149756.71,0,0,1
6,822,1,50,7,0.00,2,1,1,10062.80,1,0,0
7,376,0,29,4,115046.74,4,1,0,119346.88,0,1,0
8,501,1,44,4,142051.07,2,0,1,74940.50,1,0,0
9,684,1,27,2,134603.88,1,1,1,71725.73,1,0,0

### Use 80 percent of the data for training and 20 percent for test

In [ ]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2)

### Do Feature Scaling (Standard Scaling)

In [ ]:
from sklearn.preprocessing import StandardScaler

scaler = StandardScaler()

X_train = scaler.fit_transform(X_train)  
X_test = scaler.transform(X_test)